

.custom-modal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 10px;
    
    .info {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    .character {
        min-width: 200px;
        .char_image {
            //min-height: 200px;
        }
    }

    .comics {
        color: white;
        max-width: 100%;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comics_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        font-size: 18px;

        .comic_name {
            text-align: center;
            max-width: 70%;
            padding: 4px 0;
            text-shadow: -1px -1px 0 #000000, 0 1px 0 #010101,0 2px 0 #010101, 0 3px 0 #000000, 0 4px 0 #000000 ;
        }
    }
    
    .options {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .btn {
            margin: 10px 0;
            
            &.close {
                max-width: 100px;
                
            }
        }
        
    }
    

}
    
    



