<div id="team">
    <div class="floating-button">
        <button class="btn btn-danger" (click)="logout()"><i class="bi bi-box-arrow-right"></i></button>
    </div>
    <div class="team_name" >
        <form [formGroup]="form">
            <input type="text" formControlName="teamNameInput" (keydown)="onKeyDownEvent($event)">
            <div class="edit_icon"><i class="bi bi-pencil-fill"></i></div> 
        </form>
    </div>
    <div class="upper_line"></div>
    <div class="team_chars">
        <app-character-item *ngFor="let hero of teamMembers$ | async" [hero]="hero"></app-character-item>
        <div class="no_chars" *ngIf="(teamMembers$ | async).length == 0">
            <i class="bi bi-file-plus"></i>
        </div>
    </div>
</div>