#team {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    
    width: 100%;

    .floating-button {
        position: absolute;
        right: 0;
        z-index: 4;
    }

    .team_name{
        display: inline-block;
        margin-top: 4px;
        border: 2px solid rgb(28, 95, 166);
        border-radius: 4px 4px 0 0;
        padding: 0px 24px;
        font-size: 24px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color:white;
        background-color: rgb(28, 95, 166);
        position: relative;

        input[type=text] {
            background-color: rgb(28, 95, 166);
            width: 100%;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            color: white;
            text-align: center;
        }
        

        .edit_icon {
            display: none;
            position: absolute;
            right: 5px;
            margin: 8px 0;

            i {
                
                vertical-align: middle;
            }
        }

    }

    
    .team_name:hover .edit_icon{
        display: inline-block;
    }

    .upper_line {
        height: 10px;
        background-color: rgb(28, 95, 166);
        border-radius: 4px 4px 0 0;
    }

    .team_chars {
        background-color: rgb(35, 58, 83);
        border-radius: 0 0 4px 4px; 
        padding: 10px 10px 20px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
    }
}


