#team {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    
    width: 100%;

    .team_name{
        display: inline;
        border: 2px solid rgb(28, 95, 166);
        border-radius: 4px 4px 0 0;
        padding: 0px 10px;
        font-size: 24px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color:white;
        background-color: rgb(28, 95, 166);
    }

    .upper_line {
        height: 10px;
        background-color: rgb(28, 95, 166);
        border-radius: 4px 4px 0 0;
    }

    .team_chars {
        background-color: rgb(35, 58, 83);
        border-radius: 0 0 4px 4px; 
        padding: 10px 10px 20px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
    }
}


