/* .character {
    min-width: 140px;
    min-height: 200px;
}

@media screen and (max-width: 767px){
    
    .character {
     min-width:65px;
     min-height: 0 ;
     max-height: 150px;
     margin: 0 0 15px 0;  
    }
 
    .char_image {
     min-height: 100px ;
    }
 
    .char_name {
     font-size: 12px;
     color:white;
    }
 
} */