<!--<nav class="navbar toolbar" role="banner">
    <span class="navbar-brand" href="#">Marvel Team</span>
</nav>-->
<div class="row h-100">
<div class="container-fluid h-100">
    <div class="page h-100" role="main">

        <div class="top-part">
            <app-team-list></app-team-list>
        </div>

        <div id="main-part">
            <div id="search">
                <div class="search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search hero name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
                        </div>
                    </div>       
                </div> 
            </div>

            <app-hero-collection></app-hero-collection>
        </div>
        

    </div>
</div>
</div>
