@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


.navbar {
    position: sticky;
}

.container {
    background-color: #05427f;
    overflow-y: scroll;
}

  
.top-part{
    background-color: rgb(99, 148, 197);
    width: 100%;
    //max-width: 1600px;
    
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 9;
}

#main-part {
    //padding-top: 305px;
}


.overlay {
    z-index: 8;
}


@media screen and (max-width: 767px){

  
   
    #main-part {
        
    }
    
}
@media screen and (min-width:768px) and (max-width: 991px) {

  
    
    #main-part {
        //padding-top: 280px;
    }
    
}
@media screen and (min-width: 992px) {

    
    
    #main-part {
        //padding-top: 315px;
    }
    
}


