:host {
    font-family:  Arial, sans-serif;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }

  html, body {
    height: 100%;
  }


  h1,h2,h3,h4,h5,h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .top-floating-button {
    position: absolute;
    top: -10px;
    right: -10px;
    
    .add-btn, .rm-btn {
        .text {
            font-size: 22px;
            line-height: 22px;
        }
    }

}
